/******************Variables***********************/
$background: #DEB887;
$border-radius: 10px;
$card-background: #F0F8FF;


/****************Mixins********************/
@mixin sweet-sweet-button-stylez {
  color: white;
  background: black;
  margin: 10px;
  border: none;
  font-size: 16px;
  border-radius: $border-radius;
  height: 40px;
  text-align: center;
}





/********************Body*************************/
.app {
  background: $background;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $background;
}


/*****************Header**************************/
.header {
  background-color: black;
  color: white;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    text-align: center;
  }
}

/******************Filter and Search**********************/
.filter-search-bar {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #A0522D;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    @include sweet-sweet-button-stylez();
  }

  input {
    border: none;
    font-size: 16px;
    border-radius: $border-radius;
    height: 40px;
    width: 300px;
    text-align: center;
    margin-right: 10px;

  }
}
/*******************Movie Cards and Movie Card Holder**************/
.movie-card-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

  // @media screen and (min-width: 720px) {
    
  //   flex-direction: row;

  // }
  .movie-card {
    border: 2px black solid;
    border-radius: 10px;
    margin: 30px;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $card-background;
    padding: 20px;

    button {
      @include sweet-sweet-button-stylez();
      margin-bottom: 30px;

    }

    img {
      //height: 70%;
      margin-top: 20px;
      width: 150px;
      //height: 200px;
      border-radius: $border-radius;
    }
  }
}
/******************Movie Details******************/

.movie-wrapper {
  //padding: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    width: 40%;
  }

  @media screen and (max-width: 720px) {
    width: 80%;
  }

  @media screen and (max-width: 500px) {
    width: 90%;
  }

  img {
    margin-top: 30px;
    border-radius: $border-radius;
    width: 40%;

  }

  button {
    @include sweet-sweet-button-stylez();
    margin-bottom: 30px;
  }


}

/****************Miscellaneous************/
//links
.link {
  text-decoration: none;
  color: white;
}