/******************Variables***********************/
$background: #DEB887;
$border-radius: 10px;


/****************Mixins********************/
@mixin sweet-sweet-button-stylez {
  color: white;
  background: black;
  margin: 10px;
  border: none;
  font-size: 16px;
  border-radius: $border-radius;
  height: 40px;
  text-align: center;
}





/********************Body*************************/
.app {
  background: $background;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $background;
}


/*****************Header**************************/
.header {
  background-color: black;
  color: white;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    text-align: center;
  }
}

/******************Filter and Search**********************/
.filter-search-bar {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #A0522D;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    @include sweet-sweet-button-stylez();
  }

  input {
    border: none;
    font-size: 16px;
    border-radius: $border-radius;
    height: 40px;
    width: 300px;
    text-align: center;
    margin-right: 10px;

  }
}
/*******************Movie Cards and Movie Card Holder**************/
.movie-card-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #DEB887;
  height: 100vh;

  @media screen and (min-width: 720px) {
    justify-content: space-around;
    flex-direction: row;
  }
  .movie-card {
    border: 2px black solid;
    border-radius: 10px;
    margin: 30px;

    button {
      @include sweet-sweet-button-stylez();

    }
  }
}
/******************Movie Details******************/

.movie-wrapper {

  button {
    @include sweet-sweet-button-stylez();
  }
}

/****************Miscellaneous************/
//links
.link {
  text-decoration: none;
  color: white;
}